<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>projeto</title>
</head>
<body>
    <p>
        <a href="{% url 'index' %}"><h1>Inicio</h1></a>
        <a href="{% url 'topics' %}"><h1>topic</h1></a>
        {% if user.is_authenticated %}
            ola, {{ user.username }}
            <a href="{% url 'logout' %}">Sair</a>
        {% else %}
            <a href="{% url 'login' %}">Entrar</a>
        {% endif %}
    </p>
    {% block conteudo %}
    {% endblock %}
</body>
</html>