{% extends 'projetos/base.html' %}

{% block header %}
    <h1>topico:{{ topic }}</h1>
{% endblock header %}

{% block conteudo %}
    
    <p>Anotacoes: </p>
    <a href="{% url 'new_entry' topic.id %}">Criar novo entry</a>
    
        {% for entry in entries %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>
                        {{ entry.date_added|date:'M D, Y H:i' }}
                        <small>
                            <a href="{% url 'edit_entry' entry.id %}">Editar</a>
                        </small>
                    </h3>
                </div>
                <div class="panel-body">
                    {{ entry.text|linebreaks }}
                </div>
            </div>
        {% empty %}
            Nao ha itens!
        {% endfor %}
    

    
    

{% endblock %}